#cont {
  width: 100vw;
  height: 100vh;
}
.main {
  width: 100%;
  max-width: 520px;
  min-width: 360px;
  height: 100%;
  box-shadow: 0px 0px 3px #2f2f2f;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
	background: rgba(16, 16, 16, .3);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #101010;
  border-radius: 5px;
}

/* Intro */
.intro-wrap {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, .3);
}

/* Fight View */
.fight-view {
  position: relative;
  height: 250px;
}
.monster-hp-wrap {
  position: relative;
  width: 100%;
  height: 20px;
}
.monster-hp {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.monster-hp-text {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.level {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: fit-content;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  color: white;
  background-color: #4f4f4f;
}
/* Menu */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon-wrap {
  display: flex;
  gap: 20px;
}
.icon-wrap span {
  display: inline-block;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s;
}
.icon-wrap span:nth-of-type(1) {
  background-image: url("./image/ico/ico_state.svg");
}
.icon-wrap span:nth-of-type(2) {
  background-image: url("./image/ico/ico_home.svg");
}
.icon-wrap span:nth-of-type(3) {
  background-image: url("./image/ico/ico_store.svg");
}
.icon-wrap span:hover {
  background-color: #4f4f4f;
}
.gold {
  color: #FFD700;
}

/* content view */
.content-wrap {
  max-height: 520px;
  overflow-y: auto;
}
.contents-view {
  display: none;
}
.contents-view.show {
  display: block;
}

/* State */
.user-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.user-hp-wrap , .user-mp-wrap{
  position: relative;
  width: 100%;
  height: 15px;
  margin: 0 auto;
  overflow: hidden;
}
.user-hp-wrap .user-hp , .user-mp-wrap .user-mp {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.user-hp-wrap .user-hp-text, .user-mp-wrap .user-mp-text {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
.user-wrap {
  display: flex;
  gap: 10px;
}
.user-info-wrap , .user-stack {
  width: 50%;
  padding: 5px;
}
.user-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.character-image {
  width: 100%;
  height: 250px;
  border: 1px solid #202020;
  border-radius: 5px;
}
.user-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 10px;
}
.user-info li {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 15px;
}
.user-info li span {
  color: white;
  font-weight: 600;
}
.user-stack h4{
  border-bottom: 1px solid #202020;
  text-align: center;
  font-weight: 600;
}
.skill-slots , .item-slots {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  justify-items: center;
  gap: 10px;
  padding: 10px;
}
.skill-slots li , .item-slots li {
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: all .5s;
}
.skill-slots li:hover , .item-slots li:hover {
  background-color: #101010;
}

/* Village */
.addSkills {
  display: flex;
  position: relative;
  min-height: 200px;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
.addSkills::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.addSkills.onsen::after {
  background-image: url(./image/pic/onsen.jpg);
}
.addSkills.buff::after {
  background-image: url(./image/pic/buff.jpg);
}
.addSkills:last-of-type {
  margin-bottom: 0;
}
.addSkills .txt {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 15px;
  color: white;
}
.addSkills .txt * {
  z-index: 999999;
}
.addSkills .txt button {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  transition: .5s;
}
.addSkills .txt button:hover {
  background-color: white;
  color: #202020;
}

/* store */
.items {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.item {
  position: relative;
  border-radius: 5px 5px 0 0;
  background-color: #202020;
}
.item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
}
.item img {
  min-width: 72px;
  height: 72px;
}
.item .btn-wrap {
  display: flex;
  width: 100%;
}
.item .btn-wrap button {
  width: 49%;
  background-color: white;
  font-size: 12px;
}
.item .btn-wrap .info {
  border-radius: 5px 0 0 5px;
}
.item .btn-wrap span {
  display: inline-block;
  width: 2%;
  height: 100%;
}
.item .btn-wrap .buy {
  border-radius: 0 5px 5px 0;
}
.item .disc-wrap {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  padding: 5px;
  transition: .5s;
  visibility: hidden;
}
.item .disc-wrap.show {
  visibility: visible;
}
.item .disc-wrap .closeBtn {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 5px;
  right: 5px;
  background-image: url('./image/ico/ico_closeBtn.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.item .disc-wrap p {
  color: white;
  font-size: 12px;
}
.item .disc-wrap span.line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 10px 0;
}